<div>
<img src="/assets/img/burger-alpha.png" width="25%">
</div>
  
<h1>Eat Da Burger!</h1>

<form class="create-form">

  <div class="form-group">
    
    <input type="text" id="ca" name="name" placeholder="Burger Name">
  </div>
  

  <button type="submit">Add a Burger</button>
</form>

<h2>Ready to Devour</h2>

<ul style="list-style-type:none;">
  {{#each burger}}
    {{#unless devoured}}
      {{burger/burger-block devoured=false}}
      <li>{{burger_name}}<button class="btnD" type="button" data-id={{id}}>Devour Now!</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul style="list-style-type:none;">
  {{#each burger}}
    {{#if devoured}}
      {{burger/burger-block devoured=true}}
      <li>{{burger_name}}<button class="btn" type="button" data-id="{{this.id}}">Done!</button></li>
    {{/if}}
  {{/each}}
</ul>



